# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
/var/spool/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/spool/.gitkeep

# Parameters
/app/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
!bin/migrations.sh
!bin/assets.sh
!bin/cache.sh

.env
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
